@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
html{
	height:100%;
}
body {
	height:100%;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight:400;
}
.container {
	width: 1168px;
	margin: 0 auto;
	padding: 16px;
	display: flex;
}
.wrapper {
	display: flex;
	flex-direction: column;
    min-height: 100%;
}
/* header */
header {
	flex:none;
    width: 100%;
}
.topheader {
	background: #fff;
}
.topheader .container{
	flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.socials__link {
	width: 20px;
    height: 20px;
	display: flex;	
}
img {
	padding: 0 0 0 20px;
}
.bottomheader {
	background: #CCCCFF; 
	height: 60px;
	padding:0 0 0 300px;
}
.topmenu{
	text-align:center;
	line-height: 60px;
	padding:0 0;
}
.menupoint {
	display: inline-block;
	position: relative;
	margin: 0 40px;
}
a {
	color: black;
	text-decoration: none;
}
a.pulldown-point {
	white-space: normal;
	text-decoration: none;
	display: block;
}
.menupoint > span {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	width: 120px;
	padding: 20px 0 5px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
	border-radius:7px;
	z-index:1;
	background: white;
}
.menupoint:hover > span,
.menupoint > span:hover {
	display: block;
}
.menupoint:hover .line-point {
	color:#black;
}
.pulldown-point:hover {
	color: #CCCCFF;
}
/*main*/
main {
	flex:1 0 auto;
	position:relative;
	background: #fff;
}
.container__catalog {
	margin: 0;
	width: 100px;
	display: flex;
}
main .contacts {
	padding: 20px 0 0 80px;
	
}
.del > div {
	width: 18px;
    height: 18px;
    border-radius: 18px;
    text-align: center;
    font: normal 18px/18px Arial;
    transform: rotate(45deg);
    transform-origin: center;
    background: #fc7979;
    color: white;
    cursor: pointer;
}
main .container {
    width: 700px;
    margin: 0 auto;
	display: flex;
}
.slider {
    position: relative;
    width: 1000px;
    height: 1000px;
    overflow: hidden;
}
.slide {
    position: absolute;
	width: 700px;
	height: 400px;
    top: 0;
    left: 0;
}
.rule {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.slider:hover .rule {
    display: block;
}
.rule span {
    position: absolute;
    top: calc(50% - 17px);
    cursor: pointer; /* курсор показывает, что тут активный элемент */
    user-select: none; /* запрещаем выделение текста - кнопка не "синеет", как по ней ни кликай*/
    font-size: 30px;
    width: 34px;
    text-align: center;
    border-radius: 50%;
    background: rgba(255,255,255,.5);
}
.left {
    left: 5%;
}
.right {
    right: 5%;
}

/*footer*/
footer {
	flex:none;
	height:auto;
}
.footer .container {
	flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.bottomfooter {
	background: #CCCCFF; 
	height: 30px;
}
.bottomfooter .socials__link {
	padding:0 0 0 40px;
}
.topfooter .container{
	flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.topfooter {
	border-top: #6c757d 2px solid;	
}
.contacts .span {
	font-size:5px;
}
.footermenupoint{
	display:flex;
	flex-direction:column;
}
.footermenupoint :hover{
	color:black:
}
/*aside*/
aside{
	flex:none;
	width: 300px;
	background:#fff;
}
.catmenu {
	padding: 30px 40px;
}
.catmenu_item {
	padding: 15px 20px 15px;
	position: relative;
	border-bottom: 1px solid #6c757d;
}
.catmenu_item:before {
	color:black;
	position: absolute;
	left: 0;
}
.catmenu_item a {
	display: block;
	color: black;
	text-decoration: none;
}
.catmenu_item a:hover {
	text-decoration: underline;
}
.submenu_mover {
	position: absolute;
	right: 0;
	top: 0;
	margin: 15px;
	cursor: pointer;
	transition: all 1s ease;
	color: black;
}
.open .submenu_mover {
	transform: rotate(180deg);
}
.submenu {
	height: 0;
	overflow: hidden;
}
.submenu a {
	position: relative;
	padding-left: 20px;
}
.submenu a:before {
	position: absolute;
	left: 0;
}
