@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
html{
	height:100%;
}
body {
	height:100%;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight:400;
}
.container {
	margin: 0 auto;
	padding: 16px;
	display: flex;
}
.wrapper {
	display: flex;
	flex-direction: column;
    min-height: 100%;
}
/* header */
header {
	flex:none;
    width: 100%;
}
.topheader {
	background: #E7CAC3;
}
.topheader .container{
	flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.socials__link {
	width: 20px;
    height: 20px;
	display: flex;	
}
.socials__link img {
	padding: 0 0 0 20px;
}
.bottomheader {
	background: #E7CAC3; 
	height: 60px;
	padding:0 0 0 300px;
	border-top: #714444 1px solid;	
}
.topmenu{
	text-align:center;
	line-height: 60px;
	padding:0 0;
}
.menupoint {
	display: inline-block;
	position: relative;
	margin: 0 40px;
}
a {
	color: black;
	text-decoration: none;
}
a.pulldown-point {
	white-space: normal;
	text-decoration: none;
	display: block;
}
.menupoint > span {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	width: 120px;
	padding: 20px 0 5px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
	border-radius:7px;
	z-index:20;
	background: white;
}
.menupoint:hover > span,
.menupoint > span:hover {
	display: block;
}
.menupoint:hover .line-point {
	color:#black;
}
.pulldown-point:hover {
	color: #CCCCFF;
}
.gorod p {
	text-align: center;
	margin-bottom: 10px;
}
.gorod button {
	display:inline-block;
	border: none;
	color: white;
	width: calc(50% - 10px);
	border: 1px solid #6c757d;
}
gorod button:first-of-type {
    margin: 0 10px 0 0;
}
.gorod button:last-of-type {
    margin: 0 0 0 30px;
}

/*main*/
main {
	flex:1 0 auto;
	position:relative;
	background: #fff;
}
.container__catalog {
	margin: 0;
	display: flex;
}
main .contacts {
	padding: 20px 0 0 80px;
}
.del > div {
	width: 18px;
    height: 18px;
    border-radius: 18px;
    text-align: center;
    font: normal 18px/18px Arial;
    transform: rotate(45deg);
    transform-origin: center;
    background: #E7CAC3;
    color: white;
    cursor: pointer;
	margin: auto;
}
.num {
	margin: auto;
}
main .container {
    width: 700px;
    margin: 0 auto;
	display: flex;
	background: #fcf0ed;
}
.slider {
    position: relative;
    width: 564px;
    height: 376px;
    overflow: hidden;
	margin-left: auto;
    margin-right: auto;
}
.slide {
    position: absolute;
	width: 564px;
	height: 376px;
    top: 0;
    left: 0;
}
.slide.active {
	z-index: 2;
}
.rule {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.slider:hover .rule {
    display: block;
}
.rule span {
    position: absolute;
    top: calc(50% - 17px);
    cursor: pointer; /* курсор показывает, что тут активный элемент */
    user-select: none; /* запрещаем выделение текста - кнопка не "синеет", как по ней ни кликай*/
    font-size: 30px;
    width: 34px;
    text-align: center;
    border-radius: 50%;
    background: rgba(255,255,255,.5);
}
.left {
    left: 5%;
}
.right {
    right: 5%;
}
.cat_block {
    flex: 1 1 auto;
    display: flex;
    align-content: flex-start;
    gap: 50px;
}
.cat_unit {
	padding: 20px 0 0 0;
}
.cat_block p {
	text-align: center;
    background: #E7CAC3;
    border-radius: 7px;
	margin: 25px 10px 25px;
}
}
.gallery_desk {
    width: 530px;
    float: left;
}
.main-image {
    padding: 4px;
    background: #E7CAC3; 
    border: #714444 2px solid;
    border-radius: 10px;
	width: 490px;
}
.main-image img {
	padding-left: 75px;
}
.gallery {
	width: 490px;
	height: 165px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.small-image {
    padding: 4px;
    background: #E7CAC3;
    border: #714444 2px solid;
    border-radius: 5px;
}
h5 {
    margin: 25px 8px 8px 8px;
}
.small-image img {
	height: 150px;
	width: 150px;
}
/*footer*/
footer {
	flex:none;
	height:auto;
}
.footer .container {
	flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.bottomfooter {
	background: #E7CAC3; 
	height: 30px;
	border-top: #714444 1px solid;	
}
.bottomfooter .socials__link {
	padding:0 0 0 40px;
}
.topfooter .container{
	flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center; 
}
.topfooter {
	border-top: #714444 1px solid;	
	background: #E7CAC3; 
}
.contacts .span {
	font-size:5px;
}
.footermenupoint{
	display:flex;
	flex-direction:column;
}
.footermenupoint :hover{
	color:black:
}
/*aside*/
aside{
	flex:none;
	width: 300px;
	background:#fff;
}
.catmenu {
	padding: 30px 40px;
}
.catmenu_item {
	padding: 15px 20px 15px;
	position: relative;
	border-bottom: 1px solid #6c757d;
}
.catmenu_item:before {
	color:black;
	position: absolute;
	left: 0;
}
.catmenu_item a {
	display: block;
	color: black;
	text-decoration: none;
}
.catmenu_item a:hover {
	text-decoration: underline;
}
.submenu_mover {
	position: absolute;
	right: 0;
	top: 0;
	margin: 15px;
	cursor: pointer;
	transition: all 1s ease;
	color: black;
}
.open .submenu_mover {
	transform: rotate(180deg);
}
.submenu {
	height: 0;
	overflow: hidden;
}
.submenu a {
	position: relative;
	padding-left: 20px;
}
.submenu a:before {
	position: absolute;
	left: 0;
}
.num input {
    border: 0;
    width: 50px;
}
/*order*/

.rub:after, .sum:after, .allsum:after {
    content: ' \20bd';
}
.table {
	width: 700px;
}
.calendar {
	position: absolute;
	left: calc(50% - 150px);
	top: 200px;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	color: #714444;
	background: #E7CAC3;
	text-align: center;
}
.t_date {
	margin: 0 auto;
}
.t_date td, .left, .right {
	cursor: pointer;
	padding: 5px;
}
.workday:hover {
	background-color: #a39898;
}
.holiday {
	color: #e67f7f;
}
.left, .right {
	font-size: 20px;
}
/* popup */

.popup {
	position: absolute;
	border-radius: 20px;
	background: #E7CAC3;
	left: calc(50% - 150px);
    top: 200px;
    width: 300px;
	
}
.popup-desk {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.3);
}
.popup button {
    margin: 0 35px 15px;
    background: #714444;
    border: none;
    width: 70px;
    height: 35px;
    border-radius: 2px;
}
.popup gorod {
	padding: 30px;
}
.div-popup {
	position: absolute;
	left: calc(50% - 150px);
	top: 200px;
	width: 300px;
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
	color: #714444;
	background: #E7CAC3;
	text-align: center;
}
.popup-desk.active {
	display: block;
	z-index: 3;
}
.popup .lightbox {
	background: #E7CAC3;
	height: 430px;
	width: 430px;
}
.lightbox {
	left: 30px;
	right: 30px;
	top: 30px;
	bottom: 30px;
	width: auto;
	margin: 0 auto;
	border-radius: 10px;
	padding: 30px;
	box-sizing: border-box;
	color: #714444;
	border: 1px solid #6c757d;
}
.lightbox img {
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}
.cross {
	position: absolute;
	right: 10px;
	top: 5px;
	color: black;
	font: bold 30px Arial;
	transform: rotate(45deg);
	cursor: pointer;
}
#name, #date, #address, #email, #comment {
    display: block;
    padding: 0;
    width: 200px;
}
#sub_but {
    background: #E7CAC3;
    border-radius: 7px;
	margin: 0 25px 10px 25px;
}